* {
	margin:0;
	padding:0;
}
body {	

  background-color:  #5A9256;
  text-align: left;
  
}

.tituloPrin {

display:block;
margin:auto;
}

.links{
color: #654607;
}
header{
	margin-right:0;
  	margin-left:0;
	font-family: "Lucida Console", "Courier New", monospace;
	padding:20px;
	background-image: url("https://www.nationalgeographic.com.es/medio/2017/01/20/mm8117-140522-22245_2685c471.jpg");
}
header nav{
	font-family: "Lucida Console", "Courier New", monospace;
	background-color:  rgb(0, 0, 0);
	overflow:hidden;
	
}
header nav ul{
	font-family: "Lucida Console", "Courier New", monospace;
	list-style:none;
}
header nav ul li{
	float:left;
	font-family: "Lucida Console", "Courier New", monospace;
}
.cuerpo{
	margin-right: 120px;
 	margin-left: 120px;
}
table {
    width:50%;
    border: 1px solid #000;
    font-family:  "Lintel", "Helvetica", "Arial", "sans-serif";
    color: white;
    font-size: 20px;
    text-align:center;
    border-collapse:collapse;<div class="cuerpo">
    border: black 2px solid;
    margin: auto;
    padding: 15px;
}

table tr:nth-child(1) {
	color: #fff;
	background-color: #0A6124;
}

th, td {

   width: 25%;
   text-align: left;
   vertical-align: top;
   border: 2px solid #000;
   border-spacing: 0;
   padding: 0.3em;
}

th{
   background: #eee;
}
button{
  background-color: #076904;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin: auto;
 	display: block;

  font-size: 16px;
}

caption {
   padding: 0.3em;
   color: #fff;
   background: #000;
}
select{
	font-size:20px;
	width: 15%;
	margin: auto;
 	display: block;
	background-color:  rgb(255, 255, 255);
}
header nav ul li a{
	font-family:  "Lintel", "Helvetica", "Arial", monospace;
    	color:rgb(255, 255, 255);
   	font-size: 30px; 
	padding:20px;
	display:block,
	background-color:  rgb(255, 255, 255);
	text-decoration:none;
}

input {
	margin: auto;
 	display: block;
  	width: 30%;
  	padding: 12px 20px;
 	box-sizing: border-box;
 
}
h1 {
	font-size: 20px;
	text-align: center ;
  	color: white;
}
.aviso{
	font-size: 20px;
	text-align: center ;
  	color: white;
}
.txtPagPrin{
	text-align: justify ;
	font-family: "Lintel", "Helvetica", "Arial", "sans-serif";
  	color: white;
}
h4 {
	text-align: center ;
	font-family: "Lintel", "Helvetica", "Arial", "sans-serif";
  	color: white;

}
.btnGuardar{
background-color: #076904;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin: auto;
 	display: block;

  font-size: 16px;
}
